#!/usr/bin/make -f
export DH_VERBOSE = 1

CHARTER = BitstreamCharter-Regular.otf BitstreamCharter-Italic.otf BitstreamCharter-Bold.otf BitstreamCharter-BoldItalic.otf
COURIER = Courier10Pitch-Regular.otf Courier10Pitch-Italic.otf Courier10Pitch-Bold.otf Courier10Pitch-BoldItalic.otf

CONVERT = fontforge -lang=ff -c 'Open($$1); Generate($$2)'

%:
	dh $@

override_dh_autoreconf:

override_dh_auto_build: $(COURIER) $(CHARTER)

Courier10Pitch-Regular.otf:      c0419bt_.pfb; $(CONVERT) $< $@
Courier10Pitch-Italic.otf:       c0582bt_.pfb; $(CONVERT) $< $@
Courier10Pitch-Bold.otf:         c0583bt_.pfb; $(CONVERT) $< $@
Courier10Pitch-BoldItalic.otf:   c0611bt_.pfb; $(CONVERT) $< $@
BitstreamCharter-Bold.otf:       c0632bt_.pfb; $(CONVERT) $< $@
BitstreamCharter-BoldItalic.otf: c0633bt_.pfb; $(CONVERT) $< $@
BitstreamCharter-Regular.otf:    c0648bt_.pfb; $(CONVERT) $< $@
BitstreamCharter-Italic.otf:     c0649bt_.pfb; $(CONVERT) $< $@

override_dh_auto_install:

override_dh_auto_clean:
	rm -f $(COURIER) $(CHARTER)
