#!/usr/bin/make -f
export DH_VERBOSE = 1

CHARTER = BitstreamCharter-Regular.otf BitstreamCharter-Italic.otf BitstreamCharter-Bold.otf BitstreamCharter-BoldItalic.otf
COURIER = Courier10Pitch-Regular.otf Courier10Pitch-Italic.otf Courier10Pitch-Bold.otf Courier10Pitch-BoldItalic.otf
PATCHED = CourierNerd-Regular.otf CourierNerd-Italic.otf CourierNerd-Bold.otf CourierNerd-BoldItalic.otf

Courier10Pitch-Regular.otf      = c0419bt_.pfb
Courier10Pitch-Italic.otf       = c0582bt_.pfb
Courier10Pitch-Bold.otf         = c0583bt_.pfb
Courier10Pitch-BoldItalic.otf   = c0611bt_.pfb
BitstreamCharter-Bold.otf       = c0632bt_.pfb
BitstreamCharter-BoldItalic.otf = c0633bt_.pfb
BitstreamCharter-Regular.otf    = c0648bt_.pfb
BitstreamCharter-Italic.otf     = c0649bt_.pfb

%:
	dh $@

override_dh_autoreconf override_dh_auto_configure override_dh_auto_install:

override_dh_auto_build: $(CHARTER) $(COURIER) $(PATCHED)

.SECONDEXPANSION:
$(COURIER) $(CHARTER): $$($$@)
	fontforge -lang=ff -c 'Open($$1); Generate($$2)' $< $@

CourierNerd-%.otf: Courier10Pitch-%.otf
	fontforge -lang=ff -c 'Open($$1); SetFontNames($$3, $$4, $$5); Generate($$2)' \
	    $< $@ "CourierNerd-$*" "Courier Nerd" "$$(echo 'Courier Nerd $*' | sed 's|BoldItalic|Bold Italic|; s| Regular||')"
	fontforge -script patcher/font-patcher --complete --makegroups -1 --out . $@

override_dh_auto_clean:
	rm -f $(CHARTER) $(COURIER) $(PATCHED)
